{% extends 'base.html' %}
{% block title %} Page Not Found {% endblock title %}

{% block body %}
    
<!-- CTA Section -->
<div class="container space-2">
    <div class="text-center py-6" style="background: url(https://blueberry.com.bd/assets/svg/components/abstract-shapes-19.svg) center no-repeat;">
      <h1>404</h1>
      <h4>Oops!</h4>
      <p>We're sorry,The page you were looking for doesn't exist anymore.</p>
      <span class="d-block mt-5">
        <a class="btn btn-primary transition-3d-hover" href="/">Back to Home</a>
      </span>
    </div>
  </div>
  <!-- End CTA Section -->

{% endblock body %}
    