{% extends 'base.html' %}
{% block title %} Login {% endblock title %}
{% load static %}

{% block css %}
<style>
div#updatedMsg {
  position: relative;
}

div#updatedMsg a {
  position: absolute;
  right: 10px;
}
div#updatedMsg a i {
    color: #fff;
}
</style>
{% endblock %}


{% block body %}
  
<div class="container">
    <div class="row no-gutters">
      <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-2">

        {% if messages %}
          {% for message in messages %}
            <div id="updatedMsg" class="alert alert-{{message.tags}}">
              {{ message }}
              <a href="#" onclick="closeWin()">
                <i class="fas fa-times"></i>
              </a>
          </div>
            {% endfor %}
        {% endif %}


        <!-- Form -->
        <form class="js-validate" method="POST" action="{% url 'Account:loginview' %}">
          {% csrf_token %}
          <!-- Title -->
          <div class="mb-5 mb-md-7">
            <h1 class="h2">Welcome back</h1>
            <p>Login to manage your account.</p>
          </div>
          <!-- End Title -->
  
          <!-- Form Group -->
          <div class="js-form-message form-group">
            <label class="input-label" for="signinSrEmail">Email address</label>
            <input type="email" class="form-control" name="email" id="signinSrEmail" tabindex="1" placeholder="Email address" aria-label="Email address" required
                   data-msg="Please enter a valid email address.">
          </div>
          <!-- End Form Group -->
  
          <!-- Form Group -->
          <div class="js-form-message form-group">
            <label class="input-label" for="signinSrPasswordExample2" tabindex="0">
              <span class="d-flex justify-content-between align-items-center">
                Password
                <a class="link-underline text-capitalize font-weight-normal" href="{% url 'Account:password-reset' %}">Forgot Password?</a>
              </span>
            </label>
            <input type="password" class="form-control" name="password" id="signinSrPasswordExample2" tabindex="2" placeholder="********" aria-label="********" required minlength="6"
            data-msg="Your password is invalid. Please try again.">
          </div>
          <!-- End Form Group -->
  
          <!-- Button -->
          <div class="row align-items-center mb-5">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <span class="font-size-1 text-muted">Don't have an account?</span>
              <a class="font-size-1 font-weight-bold" href="{% url 'Account:Registration' %}">Signup</a>
            </div>
  
            <div class="col-sm-6 text-sm-right">
              <button type="submit" class="btn btn-primary transition-3d-hover">Get Started</button>
            </div>
          </div>
          <!-- End Button -->
        </form>
        <!-- End Form -->
      </div>
    </div>
  </div>

  {% endblock body %}

  
  {% block script %}


  <!-- JS Blueberry -->
  <script src="{% static 'assets/js/hs.core.js' %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static 'assets/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>

<!-- JS Blueberry -->
<script src="{% static 'assets/js/hs.validation.js' %}"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of form validation
    $('.js-validate').each(function () {
      var validation = $.HSCore.components.HSValidation.init($(this));
    });
  });
</script>

<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
  
  function closeWin() {
  document.getElementById('updatedMsg').setAttribute("style", "display:none");
}
</script>

{% endblock script %}