{% extends 'base.html' %}
{% block title %} Reset your password {% endblock title %}
{% load static %}

{% block css %}
<style>
div#updatedMsg {
  position: relative;
}

div#updatedMsg a {
  position: absolute;
  right: 10px;
}
div#updatedMsg a i {
    color: #fff;
}
</style>
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-2">

        {% if messages %}
          {% for message in messages %}
            <div id="updatedMsg" class="alert alert-{{message.tags}}">
              {{ message }}
              <a href="#" onclick="closeWin()">
                <i class="fas fa-times"></i>
              </a>
          </div>
            {% endfor %}
        {% endif %}

        <!-- Form -->
        <form class="needs-validation" novalidate method="POST" action="{% url 'Account:password-reset' %}">
          {% csrf_token %}
          <!-- Title -->
          <div class="mb-5 mb-md-7">
            <h1 class="h2">Forgot your password?</h1>
            <p>Enter your email address below and we'll get you back on track.</p>
          </div>
          <!-- End Title -->
  
          <!-- Form Group -->
          <div class="js-form-message form-group">
            <label class="input-label" for="signinSrEmailExample2">Email address</label>
            <input type="email" class="form-control" name="email" id="signinSrEmailExample2" placeholder="Email address" aria-label="Email address" required>
            <div class="invalid-feedback">Please enter a valid email address.</div>
          </div>
          <!-- End Form Group -->
  
          <!-- Button -->
          <div class="row align-items-center mb-5">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <a class="font-size-1 font-weight-bold" href="{% url 'Account:loginview' %}"><i class="fas fa-angle-left fa-sm mr-1"></i> Back to sign in</a>
            </div>
  
            <div class="col-sm-6 text-sm-right">
              <button type="submit" class="btn btn-primary transition-3d-hover">Request Reset Link</button>
            </div>
          </div>
          <!-- End Button -->
        </form>
        <!-- End Form -->
      </div>
    </div>
  </div>
{% endblock body %}


{% block script %}

<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
  
  function closeWin() {
  document.getElementById('updatedMsg').setAttribute("style", "display:none");
}
</script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>

{% endblock script %}
